// COLORS
$darkblue: #243F67;
$background: #F3F9FF;

// FONTS
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

* {
    list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;

    .wrapper {

        // SIDEBAR PART
        .sidebar{
            background-color: $darkblue;
            width: 280px;
            height: 100vh;
            padding: 20px 0;
            position: fixed;
            top: 0;
            left: 0;
            transition: all 0.5s ease;
            display: flex;
            flex-direction: column;
            gap: 600px;
            
    
            // PROFILE TOP
            .profile {
                font-size: large;
                margin-bottom: 30px;
                text-align: center;
                margin: 20px;
                    p {
                        color: white;
                        font-size: x-large;
                        font-weight: bold;
                    }
            }
    
    
            // ANNONYMOUS LOGIN BUTTON
            .anonlogin {
                text-align: center;
                line-height: 40px;
                p {
                    color: white;
                    font-size: large;
                }
                button {
                    background-color: white;
                    border: 2px $darkblue solid;
                    border-radius: 50%;
                    width: 80px;
                    height:80px;
                    a {
                        color: $darkblue;
                        font-size: 13px;
                        font-weight: 1000;
                    }
                }
            }
        }
    }
    
    // THE PAGE PART
    body {
        background-color: #F3F9FF;
        .page {
            text-align: center;
            padding: 40px;
            img {
                height: 300px;
                width: 300px;
            }
            p {
                padding-top: 90px;
                color: $darkblue;
                font-size: 6vh;
            }
        }
        .loginarea {
            display: flex;
            justify-content: center;
            .login {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;
                padding: 51px;
                // border: 1px yellowgreen solid;
                p {
                    font-size: 4vh;
                    // border: #243F67 1px solid;
                    width: 100%;
                    text-align: left;
                }
                input {
                    width: 350px;
                    height: 45px;
                    line-height: 30px;
                    padding-left: 10px;
                    background-color: $darkblue;
                    border: none;
                    color: white;
                }
                ::placeholder {
                    color: whitesmoke;
                }
            }
            .loginbutton {
                // border: 1px red solid;    
                align-self: center;
                padding-top: 150px;
                button {
                    background-color: white;
                    border: $darkblue 2px solid;
                    border-radius: 50%;
                    width: 130px;
                    height: 130px;
                    font-size: 2vh;
                }
            }
        
        }
    }
}
